:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --margin: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* 2 lab */
.vector {
  position: relative;
}

.vector-error {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 13px;
  width: 100%;
  color:  #C70039;
}

.vector-note {
  width: 250px;
  margin: 0;
  position: fixed;
  top: 20px;
  right: 20px;
}

.selects {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.selects-vectors {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.selects-button {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}

.selects__operation {
  align-self: center;
}

/* 4 lab */
.container {
  width: calc(80vw - var(--margin)*2);
  margin: 0 auto;
}

.shortcuts {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.shortcuts__active {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.shortcuts__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 60%;
  justify-content: end;
  list-style: none;
  gap: 50px;
}

.shortcut__item {
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 1.5em;
  border: 1px solid #646cff;
  animation: defaultItemAnimation 1s ease;
}
.shortcut__item--zoom-in {
  animation: zoomItemAnimation 1s ease;
}

@keyframes defaultItemAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomItemAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.shortcuts-actions {
  display: flex;
  flex-direction: column;
}

.shortcuts-actions__title {
  margin: 0 0 5px 0;
}

.shortcuts-actions__tabs {
  display: flex;
}

.shortcuts-actions__tab {
  display: flex;
}

.shortcuts-actions__tab-input {
  display: none;
}

.shortcuts-actions__tab-input:checked ~ .shortcuts-actions__tab-label {
  background-color: #646cff;
}

.shortcuts-actions__tab-label {
  cursor: pointer;
  padding: 5px;
  background-color: #1a1a1a;
}

.shortcuts-actions__tab-content-wrapper {
  background-color: #1a1a1a;
  padding: 10px 5px 5px 5px;
}

.shortcuts-actions__tab-content {
  display: none;
}

.shortcuts-actions__tab-content--active {
  display: flex;
  align-items: center;
  gap: 3px;
}

/*5 lab*/
.sign-in,
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.error {
  color:  #C70039;
}

.user-wrapper {
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #535bf2;
  padding: 10px;
  border-radius: 5px;
}

.user__logout {
  margin: 20px 0 0 0;
  align-self: end;
}